In [17]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/30-days-of-ml/sample_submission.csv
/kaggle/input/30-days-of-ml/train.csv
/kaggle/input/30-days-of-ml/test.csv

# Data exploration

In [34]:
df_train = pd.read_csv('/kaggle/input/30-days-of-ml/train.csv', index_col = 'id')
df_test = pd.read_csv('/kaggle/input/30-days-of-ml/test.csv', index_col = 'id')
print('df_train:')
print(str(df_train.shape) + '\n' * 2 + 'df_test:')
print(df_test.shape)

df_train:
(300000, 25)

df_test:
(200000, 24)

In [35]:
print('df_train:')
print(str(df_train.head()) + '\n' * 2 + 'df_test:')
print(df_test.head())

df_train:
   cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9  ...     cont5     cont6  \
id                                                    ...
1     B    B    B    C    B    B    A    E    C    N  ...  0.400361  0.160266
2     B    B    A    A    B    D    A    F    A    O  ...  0.533087  0.558922
3     A    A    A    C    B    D    A    D    A    F  ...  0.650609  0.375348
4     B    B    A    C    B    D    A    E    C    K  ...  0.668980  0.239061
6     A    A    A    C    B    D    A    E    A    N  ...  0.686964  0.420667

       cont7     cont8     cont9    cont10    cont11    cont12    cont13  \
id
1   0.310921  0.389470  0.267559  0.237281  0.377873  0.322401  0.869850
2   0.516294  0.594928  0.341439  0.906013  0.921701  0.261975  0.465083
3   0.902567  0.555205  0.843531  0.748809  0.620126  0.541474  0.763846
4   0.732948  0.679618  0.574844  0.346010  0.714610  0.540150  0.280682
6   0.648182  0.684501  0.956692  1.000773  0.776742  0.625849  0.250823

      target
id
1   8.113634
2   8.481233
3   8.364351
4   8.049253
6   7.972260

[5 rows x 25 columns]

df_test:
   cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9  ...     cont4     cont5  \
id                                                    ...
0     B    B    B    C    B    B    A    E    E    I  ...  0.476739  0.376350
5     A    B    A    C    B    C    A    E    C    H  ...  0.285509  0.860046
15    B    A    A    A    B    B    A    E    D    K  ...  0.697272  0.683600
16    B    B    A    C    B    D    A    E    A    N  ...  0.719306  0.777890
17    B    B    A    C    B    C    A    E    C    F  ...  0.313032  0.431007

       cont6     cont7     cont8     cont9    cont10    cont11    cont12  \
id
0   0.337884  0.321832  0.445212  0.290258  0.244476  0.087914  0.301831
5   0.798712  0.835961  0.391657  0.288276  0.549568  0.905097  0.850684
15  0.404089  0.879379  0.275549  0.427871  0.491667  0.384315  0.376689
16  0.730954  0.644315  1.024017  0.391090  0.988340  0.411828  0.393585
17  0.390992  0.408874  0.447887  0.390253  0.648932  0.385935  0.370401

      cont13
id
0   0.845702
5   0.693940
15  0.508099
16  0.461372
17  0.900412

[5 rows x 24 columns]

In [36]:
print('df_train:')
print(str(df_train.info()) + '\n' * 2 + 'df_test:')
print(df_test.info())

df_train:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 1 to 499999
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   cat0    300000 non-null  object
 1   cat1    300000 non-null  object
 2   cat2    300000 non-null  object
 3   cat3    300000 non-null  object
 4   cat4    300000 non-null  object
 5   cat5    300000 non-null  object
 6   cat6    300000 non-null  object
 7   cat7    300000 non-null  object
 8   cat8    300000 non-null  object
 9   cat9    300000 non-null  object
 10  cont0   300000 non-null  float64
 11  cont1   300000 non-null  float64
 12  cont2   300000 non-null  float64
 13  cont3   300000 non-null  float64
 14  cont4   300000 non-null  float64
 15  cont5   300000 non-null  float64
 16  cont6   300000 non-null  float64
 17  cont7   300000 non-null  float64
 18  cont8   300000 non-null  float64
 19  cont9   300000 non-null  float64
 20  cont10  300000 non-null  float64
 21  cont11  300000 non-null  float64
 22  cont12  300000 non-null  float64
 23  cont13  300000 non-null  float64
 24  target  300000 non-null  float64
dtypes: float64(15), object(10)
memory usage: 59.5+ MB
None

df_test:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 0 to 499995
Data columns (total 24 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   cat0    200000 non-null  object
 1   cat1    200000 non-null  object
 2   cat2    200000 non-null  object
 3   cat3    200000 non-null  object
 4   cat4    200000 non-null  object
 5   cat5    200000 non-null  object
 6   cat6    200000 non-null  object
 7   cat7    200000 non-null  object
 8   cat8    200000 non-null  object
 9   cat9    200000 non-null  object
 10  cont0   200000 non-null  float64
 11  cont1   200000 non-null  float64
 12  cont2   200000 non-null  float64
 13  cont3   200000 non-null  float64
 14  cont4   200000 non-null  float64
 15  cont5   200000 non-null  float64
 16  cont6   200000 non-null  float64
 17  cont7   200000 non-null  float64
 18  cont8   200000 non-null  float64
 19  cont9   200000 non-null  float64
 20  cont10  200000 non-null  float64
 21  cont11  200000 non-null  float64
 22  cont12  200000 non-null  float64
 23  cont13  200000 non-null  float64
dtypes: float64(14), object(10)
memory usage: 38.1+ MB
None

In [37]:
print('df_train:')
print(str(df_train.describe()) + '\n' * 2 + 'df_test:')
print(df_test.describe())

df_train:
               cont0          cont1          cont2          cont3  \
count  300000.000000  300000.000000  300000.000000  300000.000000
mean        0.527335       0.460926       0.490498       0.496689
std         0.230599       0.214003       0.253346       0.219199
min        -0.118039      -0.069309      -0.056104       0.130676
25%         0.405965       0.310494       0.300604       0.329783
50%         0.497053       0.427903       0.502462       0.465026
75%         0.668060       0.615113       0.647512       0.664451
max         1.058443       0.887253       1.034704       1.039560

               cont4          cont5          cont6          cont7  \
count  300000.000000  300000.000000  300000.000000  300000.000000
mean        0.491654       0.510526       0.467476       0.537119
std         0.240074       0.228232       0.210331       0.218140
min         0.255908       0.045915      -0.224689       0.203763
25%         0.284188       0.354141       0.342873       0.355825
50%         0.390470       0.488865       0.429383       0.504661
75%         0.696599       0.669625       0.573383       0.703441
max         1.055424       1.067649       1.111552       1.032837

               cont8          cont9         cont10         cont11  \
count  300000.000000  300000.000000  300000.000000  300000.000000
mean        0.498456       0.474872       0.474492       0.473216
std         0.239920       0.218007       0.255949       0.222022
min        -0.260275       0.117896       0.048732       0.052608
25%         0.332486       0.306874       0.276017       0.308151
50%         0.439151       0.434620       0.459975       0.433812
75%         0.606056       0.614333       0.691579       0.642057
max         1.040229       0.982922       1.055960       1.071444

              cont12         cont13         target
count  300000.000000  300000.000000  300000.000000
mean        0.494561       0.508273       8.241979
std         0.247292       0.222950       0.746555
min        -0.074208       0.151050       0.140329
25%         0.289074       0.300669       7.742071
50%         0.422887       0.472400       8.191373
75%         0.714502       0.758447       8.728634
max         0.975035       0.905992      10.411992

df_test:
               cont0          cont1          cont2          cont3  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean        0.526858       0.460882       0.491686       0.496263
std         0.230506       0.213896       0.252852       0.219304
min        -0.117993      -0.069316      -0.056095       0.130655
25%         0.405787       0.310536       0.302189       0.328865
50%         0.496602       0.427656       0.503075       0.464590
75%         0.666389       0.615041       0.648234       0.663401
max         1.058434       0.887253       1.034687       1.039558

               cont4          cont5          cont6          cont7  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean        0.492200       0.509944       0.468050       0.537617
std         0.240251       0.228100       0.210167       0.218197
min         0.255903       0.045921      -0.224613       0.203763
25%         0.284188       0.353682       0.342813       0.356482
50%         0.395080       0.488378       0.429819       0.505216
75%         0.697252       0.668586       0.573861       0.703289
max         1.055423       1.067641       1.111540       1.032823

               cont8          cont9         cont10         cont11  \
count  200000.000000  200000.000000  200000.000000  200000.000000
mean        0.497587       0.474630       0.473625       0.473589
std         0.239337       0.217558       0.255307       0.221844
min        -0.260236       0.117894       0.048734       0.052615
25%         0.332762       0.306940       0.274991       0.308495
50%         0.438716       0.434610       0.460042       0.433857
75%         0.605368       0.610768       0.690143       0.642201
max         1.040208       0.982928       1.055955       1.071445

              cont12         cont13
count  200000.000000  200000.000000
mean        0.492756       0.508303
std         0.247105       0.222977
min        -0.074201       0.151052
25%         0.288094       0.300697
50%         0.422065       0.472446
75%         0.711038       0.758496
max         0.975032       0.906013

# Data preparation

## Data cleaning

In [38]:
df_train.dropna(axis = 0, subset = ['target'], inplace  = True)
print(df_train.shape)

(300000, 25)

## Data split

In [47]:
y = df_train.target
X = df_train.drop(['target'], axis = 1)
print('X:')
print(str(X.shape) + '\n' * 2 + 'y:')
print(y.shape)

X:
(300000, 24)

y:
(300000,)

(300000, 24)