In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tabular-playground-series-jan-2022/sample_submission.csv
/kaggle/input/tabular-playground-series-jan-2022/train.csv
/kaggle/input/tabular-playground-series-jan-2022/test.csv
/kaggle/input/gdp-20152019-finland-norway-and-sweden/GDP_data_2015_to_2019_Finland_Norway_Sweden.csv

# Basic EDA

In [2]:
train = pd.read_csv('../input/tabular-playground-series-jan-2022/train.csv')
test = pd.read_csv('../input/tabular-playground-series-jan-2022/test.csv')
sample_submit = pd.read_csv('../input/tabular-playground-series-jan-2022/sample_submission.csv')

In [3]:
train.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [4]:
train.shape

(26298, 6)

In [5]:
train.isnull().sum()

row_id      0
date        0
country     0
store       0
product     0
num_sold    0
dtype: int64

In [6]:
train['country'].value_counts()

Finland    8766
Norway     8766
Sweden     8766
Name: country, dtype: int64

In [7]:
train['store'].value_counts()

KaggleMart    13149
KaggleRama    13149
Name: store, dtype: int64

In [8]:
train['product'].value_counts()

Kaggle Mug        8766
Kaggle Hat        8766
Kaggle Sticker    8766
Name: product, dtype: int64

In [9]:
train.describe()

             row_id      num_sold
count  26298.000000  26298.000000
mean   13148.500000    387.533577
std     7591.723026    266.076193
min        0.000000     70.000000
25%     6574.250000    190.000000
50%    13148.500000    315.000000
75%    19722.750000    510.000000
max    26297.000000   2884.000000

In [10]:
test.head()

   row_id        date  country       store         product
0   26298  2019-01-01  Finland  KaggleMart      Kaggle Mug
1   26299  2019-01-01  Finland  KaggleMart      Kaggle Hat
2   26300  2019-01-01  Finland  KaggleMart  Kaggle Sticker
3   26301  2019-01-01  Finland  KaggleRama      Kaggle Mug
4   26302  2019-01-01  Finland  KaggleRama      Kaggle Hat

In [11]:
test.shape

(6570, 5)

In [12]:
test.isnull().sum()

row_id     0
date       0
country    0
store      0
product    0
dtype: int64

In [13]:
test['country'].value_counts()

Finland    2190
Norway     2190
Sweden     2190
Name: country, dtype: int64

In [14]:
test['store'].value_counts()

KaggleMart    3285
KaggleRama    3285
Name: store, dtype: int64

In [15]:
test['product'].value_counts()

Kaggle Mug        2190
Kaggle Hat        2190
Kaggle Sticker    2190
Name: product, dtype: int64

In [16]:
test.describe()

             row_id
count   6570.000000
mean   29582.500000
std     1896.739966
min    26298.000000
25%    27940.250000
50%    29582.500000
75%    31224.750000
max    32867.000000

# Feature Engineering

In [17]:
data = pd.concat([train, test], axis=0, ignore_index=True)
data

       row_id        date  country       store         product  num_sold
0           0  2015-01-01  Finland  KaggleMart      Kaggle Mug     329.0
1           1  2015-01-01  Finland  KaggleMart      Kaggle Hat     520.0
2           2  2015-01-01  Finland  KaggleMart  Kaggle Sticker     146.0
3           3  2015-01-01  Finland  KaggleRama      Kaggle Mug     572.0
4           4  2015-01-01  Finland  KaggleRama      Kaggle Hat     911.0
...       ...         ...      ...         ...             ...       ...
32863   32863  2019-12-31   Sweden  KaggleMart      Kaggle Hat       NaN
32864   32864  2019-12-31   Sweden  KaggleMart  Kaggle Sticker       NaN
32865   32865  2019-12-31   Sweden  KaggleRama      Kaggle Mug       NaN
32866   32866  2019-12-31   Sweden  KaggleRama      Kaggle Hat       NaN
32867   32867  2019-12-31   Sweden  KaggleRama  Kaggle Sticker       NaN

[32868 rows x 6 columns]

In [18]:
from datetime import datetime, date

data['date'] = pd.to_datetime(data.date, format = '%Y/%m/%d')
data

       row_id       date  country       store         product  num_sold
0           0 2015-01-01  Finland  KaggleMart      Kaggle Mug     329.0
1           1 2015-01-01  Finland  KaggleMart      Kaggle Hat     520.0
2           2 2015-01-01  Finland  KaggleMart  Kaggle Sticker     146.0
3           3 2015-01-01  Finland  KaggleRama      Kaggle Mug     572.0
4           4 2015-01-01  Finland  KaggleRama      Kaggle Hat     911.0
...       ...        ...      ...         ...             ...       ...
32863   32863 2019-12-31   Sweden  KaggleMart      Kaggle Hat       NaN
32864   32864 2019-12-31   Sweden  KaggleMart  Kaggle Sticker       NaN
32865   32865 2019-12-31   Sweden  KaggleRama      Kaggle Mug       NaN
32866   32866 2019-12-31   Sweden  KaggleRama      Kaggle Hat       NaN
32867   32867 2019-12-31   Sweden  KaggleRama  Kaggle Sticker       NaN

[32868 rows x 6 columns]

## Holidays features

In [19]:
import holidays

holiday_FI = holidays.CountryHoliday('FI', years=[2015, 2016, 2017, 2018, 2019])

holiday_FI

{datetime.date(2016, 1, 1): 'Uudenvuodenpäivä', datetime.date(2016, 1, 6): 'Loppiainen', datetime.date(2016, 3, 25): 'Pitkäperjantai', datetime.date(2016, 3, 27): 'Pääsiäispäivä', datetime.date(2016, 3, 28): '2. pääsiäispäivä', datetime.date(2016, 5, 1): 'Vappu', datetime.date(2016, 5, 5): 'Helatorstai', datetime.date(2016, 5, 15): 'Helluntaipäivä', datetime.date(2016, 6, 25): 'Juhannuspäivä', datetime.date(2016, 11, 5): 'Pyhäinpäivä', datetime.date(2016, 12, 6): 'Itsenäisyyspäivä', datetime.date(2016, 12, 25): 'Joulupäivä', datetime.date(2016, 12, 26): 'Tapaninpäivä', datetime.date(2016, 6, 24): 'Juhannusaatto', datetime.date(2016, 12, 24): 'Jouluaatto', datetime.date(2017, 1, 1): 'Uudenvuodenpäivä', datetime.date(2017, 1, 6): 'Loppiainen', datetime.date(2017, 4, 14): 'Pitkäperjantai', datetime.date(2017, 4, 16): 'Pääsiäispäivä', datetime.date(2017, 4, 17): '2. pääsiäispäivä', datetime.date(2017, 5, 1): 'Vappu', datetime.date(2017, 5, 25): 'Helatorstai', datetime.date(2017, 6, 4): 'Helluntaipäivä', datetime.date(2017, 6, 24): 'Juhannuspäivä', datetime.date(2017, 11, 4): 'Pyhäinpäivä', datetime.date(2017, 12, 6): 'Itsenäisyyspäivä', datetime.date(2017, 12, 25): 'Joulupäivä', datetime.date(2017, 12, 26): 'Tapaninpäivä', datetime.date(2017, 6, 23): 'Juhannusaatto', datetime.date(2017, 12, 24): 'Jouluaatto', datetime.date(2018, 1, 1): 'Uudenvuodenpäivä', datetime.date(2018, 1, 6): 'Loppiainen', datetime.date(2018, 3, 30): 'Pitkäperjantai', datetime.date(2018, 4, 1): 'Pääsiäispäivä', datetime.date(2018, 4, 2): '2. pääsiäispäivä', datetime.date(2018, 5, 1): 'Vappu', datetime.date(2018, 5, 10): 'Helatorstai', datetime.date(2018, 5, 20): 'Helluntaipäivä', datetime.date(2018, 6, 23): 'Juhannuspäivä', datetime.date(2018, 11, 3): 'Pyhäinpäivä', datetime.date(2018, 12, 6): 'Itsenäisyyspäivä', datetime.date(2018, 12, 25): 'Joulupäivä', datetime.date(2018, 12, 26): 'Tapaninpäivä', datetime.date(2018, 6, 22): 'Juhannusaatto', datetime.date(2018, 12, 24): 'Jouluaatto', datetime.date(2019, 1, 1): 'Uudenvuodenpäivä', datetime.date(2019, 1, 6): 'Loppiainen', datetime.date(2019, 4, 19): 'Pitkäperjantai', datetime.date(2019, 4, 21): 'Pääsiäispäivä', datetime.date(2019, 4, 22): '2. pääsiäispäivä', datetime.date(2019, 5, 1): 'Vappu', datetime.date(2019, 5, 30): 'Helatorstai', datetime.date(2019, 6, 9): 'Helluntaipäivä', datetime.date(2019, 6, 22): 'Juhannuspäivä', datetime.date(2019, 11, 2): 'Pyhäinpäivä', datetime.date(2019, 12, 6): 'Itsenäisyyspäivä', datetime.date(2019, 12, 25): 'Joulupäivä', datetime.date(2019, 12, 26): 'Tapaninpäivä', datetime.date(2019, 6, 21): 'Juhannusaatto', datetime.date(2019, 12, 24): 'Jouluaatto', datetime.date(2015, 1, 1): 'Uudenvuodenpäivä', datetime.date(2015, 1, 6): 'Loppiainen', datetime.date(2015, 4, 3): 'Pitkäperjantai', datetime.date(2015, 4, 5): 'Pääsiäispäivä', datetime.date(2015, 4, 6): '2. pääsiäispäivä', datetime.date(2015, 5, 1): 'Vappu', datetime.date(2015, 5, 14): 'Helatorstai', datetime.date(2015, 5, 24): 'Helluntaipäivä', datetime.date(2015, 6, 20): 'Juhannuspäivä', datetime.date(2015, 10, 31): 'Pyhäinpäivä', datetime.date(2015, 12, 6): 'Itsenäisyyspäivä', datetime.date(2015, 12, 25): 'Joulupäivä', datetime.date(2015, 12, 26): 'Tapaninpäivä', datetime.date(2015, 6, 19): 'Juhannusaatto', datetime.date(2015, 12, 24): 'Jouluaatto'}

In [20]:
data.loc[data['country'] == 'Finland', 'holiday_name'] = data[data['country'] == 'Finland']['date'].map(holiday_FI)

data

,row_id,date,country,store,product,num_sold,holiday_name
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329.0,Uudenvuodenpäivä
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520.0,Uudenvuodenpäivä
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146.0,Uudenvuodenpäivä
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572.0,Uudenvuodenpäivä
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911.0,Uudenvuodenpäivä
...,...,...,...,...,...,...,...
32863,32863,2019-12-31,Sweden,KaggleMart,Kaggle Hat,NaN,NaN
32864,32864,2019-12-31,Sweden,KaggleMart,Kaggle Sticker,NaN,NaN
32865,32865,2019-12-31,Sweden,KaggleRama,Kaggle Mug,NaN,NaN
32866,32866,2019-12-31,Sweden,KaggleRama,Kaggle Hat,NaN,NaN
32867,32867,2019-12-31,Sweden,KaggleRama,Kaggle Sticker,NaN,NaN

In [21]:
holiday_NO = holidays.CountryHoliday('NO', years=[2015, 2016, 2017, 2018, 2019])
holiday_NO

{datetime.date(2016, 1, 1): 'Første nyttårsdag', datetime.date(2016, 5, 1): 'Arbeidernes dag', datetime.date(2016, 5, 17): 'Grunnlovsdag', datetime.date(2016, 12, 25): 'Første juledag', datetime.date(2016, 12, 26): 'Andre juledag', datetime.date(2016, 3, 24): 'Skjærtorsdag', datetime.date(2016, 3, 25): 'Langfredag', datetime.date(2016, 3, 27): 'Første påskedag', datetime.date(2016, 3, 28): 'Andre påskedag', datetime.date(2016, 5, 5): 'Kristi himmelfartsdag', datetime.date(2016, 5, 15): 'Første pinsedag', datetime.date(2016, 5, 16): 'Andre pinsedag', datetime.date(2017, 1, 1): 'Første nyttårsdag', datetime.date(2017, 5, 1): 'Arbeidernes dag', datetime.date(2017, 5, 17): 'Grunnlovsdag', datetime.date(2017, 12, 25): 'Første juledag', datetime.date(2017, 12, 26): 'Andre juledag', datetime.date(2017, 4, 13): 'Skjærtorsdag', datetime.date(2017, 4, 14): 'Langfredag', datetime.date(2017, 4, 16): 'Første påskedag', datetime.date(2017, 4, 17): 'Andre påskedag', datetime.date(2017, 5, 25): 'Kristi himmelfartsdag', datetime.date(2017, 6, 4): 'Første pinsedag', datetime.date(2017, 6, 5): 'Andre pinsedag', datetime.date(2018, 1, 1): 'Første nyttårsdag', datetime.date(2018, 5, 1): 'Arbeidernes dag', datetime.date(2018, 5, 17): 'Grunnlovsdag', datetime.date(2018, 12, 25): 'Første juledag', datetime.date(2018, 12, 26): 'Andre juledag', datetime.date(2018, 3, 29): 'Skjærtorsdag', datetime.date(2018, 3, 30): 'Langfredag', datetime.date(2018, 4, 1): 'Første påskedag', datetime.date(2018, 4, 2): 'Andre påskedag', datetime.date(2018, 5, 10): 'Kristi himmelfartsdag', datetime.date(2018, 5, 20): 'Første pinsedag', datetime.date(2018, 5, 21): 'Andre pinsedag', datetime.date(2019, 1, 1): 'Første nyttårsdag', datetime.date(2019, 5, 1): 'Arbeidernes dag', datetime.date(2019, 5, 17): 'Grunnlovsdag', datetime.date(2019, 12, 25): 'Første juledag', datetime.date(2019, 12, 26): 'Andre juledag', datetime.date(2019, 4, 18): 'Skjærtorsdag', datetime.date(2019, 4, 19): 'Langfredag', datetime.date(2019, 4, 21): 'Første påskedag', datetime.date(2019, 4, 22): 'Andre påskedag', datetime.date(2019, 5, 30): 'Kristi himmelfartsdag', datetime.date(2019, 6, 9): 'Første pinsedag', datetime.date(2019, 6, 10): 'Andre pinsedag', datetime.date(2015, 1, 1): 'Første nyttårsdag', datetime.date(2015, 5, 1): 'Arbeidernes dag', datetime.date(2015, 5, 17): 'Grunnlovsdag', datetime.date(2015, 12, 25): 'Første juledag', datetime.date(2015, 12, 26): 'Andre juledag', datetime.date(2015, 4, 2): 'Skjærtorsdag', datetime.date(2015, 4, 3): 'Langfredag', datetime.date(2015, 4, 5): 'Første påskedag', datetime.date(2015, 4, 6): 'Andre påskedag', datetime.date(2015, 5, 14): 'Kristi himmelfartsdag', datetime.date(2015, 5, 24): 'Første pinsedag', datetime.date(2015, 5, 25): 'Andre pinsedag'}

In [22]:
data.loc[data['country'] == 'Norway', 'holiday_name'] = data[data['country'] == 'Norway']['date'].map(holiday_NO)

data

,row_id,date,country,store,product,num_sold,holiday_name
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329.0,Uudenvuodenpäivä
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520.0,Uudenvuodenpäivä
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146.0,Uudenvuodenpäivä
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572.0,Uudenvuodenpäivä
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911.0,Uudenvuodenpäivä
...,...,...,...,...,...,...,...
32863,32863,2019-12-31,Sweden,KaggleMart,Kaggle Hat,NaN,NaN
32864,32864,2019-12-31,Sweden,KaggleMart,Kaggle Sticker,NaN,NaN
32865,32865,2019-12-31,Sweden,KaggleRama,Kaggle Mug,NaN,NaN
32866,32866,2019-12-31,Sweden,KaggleRama,Kaggle Hat,NaN,NaN
32867,32867,2019-12-31,Sweden,KaggleRama,Kaggle Sticker,NaN,NaN

In [23]:
holiday_SE = holidays.CountryHoliday('SE', years=[2015, 2016, 2017, 2018, 2019])
holiday_SE

{datetime.date(2016, 1, 3): 'Söndag', datetime.date(2016, 1, 10): 'Söndag', datetime.date(2016, 1, 17): 'Söndag', datetime.date(2016, 1, 24): 'Söndag', datetime.date(2016, 1, 31): 'Söndag', datetime.date(2016, 2, 7): 'Söndag', datetime.date(2016, 2, 14): 'Söndag', datetime.date(2016, 2, 21): 'Söndag', datetime.date(2016, 2, 28): 'Söndag', datetime.date(2016, 3, 6): 'Söndag', datetime.date(2016, 3, 13): 'Söndag', datetime.date(2016, 3, 20): 'Söndag', datetime.date(2016, 3, 27): 'Påskdagen, Söndag', datetime.date(2016, 4, 3): 'Söndag', datetime.date(2016, 4, 10): 'Söndag', datetime.date(2016, 4, 17): 'Söndag', datetime.date(2016, 4, 24): 'Söndag', datetime.date(2016, 5, 1): 'Första maj, Söndag', datetime.date(2016, 5, 8): 'Söndag', datetime.date(2016, 5, 15): 'Pingstdagen, Söndag', datetime.date(2016, 5, 22): 'Söndag', datetime.date(2016, 5, 29): 'Söndag', datetime.date(2016, 6, 5): 'Söndag', datetime.date(2016, 6, 12): 'Söndag', datetime.date(2016, 6, 19): 'Söndag', datetime.date(2016, 6, 26): 'Söndag', datetime.date(2016, 7, 3): 'Söndag', datetime.date(2016, 7, 10): 'Söndag', datetime.date(2016, 7, 17): 'Söndag', datetime.date(2016, 7, 24): 'Söndag', datetime.date(2016, 7, 31): 'Söndag', datetime.date(2016, 8, 7): 'Söndag', datetime.date(2016, 8, 14): 'Söndag', datetime.date(2016, 8, 21): 'Söndag', datetime.date(2016, 8, 28): 'Söndag', datetime.date(2016, 9, 4): 'Söndag', datetime.date(2016, 9, 11): 'Söndag', datetime.date(2016, 9, 18): 'Söndag', datetime.date(2016, 9, 25): 'Söndag', datetime.date(2016, 10, 2): 'Söndag', datetime.date(2016, 10, 9): 'Söndag', datetime.date(2016, 10, 16): 'Söndag', datetime.date(2016, 10, 23): 'Söndag', datetime.date(2016, 10, 30): 'Söndag', datetime.date(2016, 11, 6): 'Söndag', datetime.date(2016, 11, 13): 'Söndag', datetime.date(2016, 11, 20): 'Söndag', datetime.date(2016, 11, 27): 'Söndag', datetime.date(2016, 12, 4): 'Söndag', datetime.date(2016, 12, 11): 'Söndag', datetime.date(2016, 12, 18): 'Söndag', datetime.date(2016, 12, 25): 'Juldagen, Söndag', datetime.date(2016, 1, 1): 'Nyårsdagen', datetime.date(2016, 1, 6): 'Trettondedag jul', datetime.date(2016, 6, 6): 'Sveriges nationaldag', datetime.date(2016, 12, 24): 'Julafton', datetime.date(2016, 12, 26): 'Annandag jul', datetime.date(2016, 12, 31): 'Nyårsafton', datetime.date(2016, 3, 25): 'Långfredagen', datetime.date(2016, 3, 28): 'Annandag påsk', datetime.date(2016, 5, 5): 'Kristi himmelsfärdsdag', datetime.date(2016, 6, 24): 'Midsommarafton', datetime.date(2016, 6, 25): 'Midsommardagen', datetime.date(2016, 11, 5): 'Alla helgons dag', datetime.date(2017, 1, 1): 'Nyårsdagen, Söndag', datetime.date(2017, 1, 8): 'Söndag', datetime.date(2017, 1, 15): 'Söndag', datetime.date(2017, 1, 22): 'Söndag', datetime.date(2017, 1, 29): 'Söndag', datetime.date(2017, 2, 5): 'Söndag', datetime.date(2017, 2, 12): 'Söndag', datetime.date(2017, 2, 19): 'Söndag', datetime.date(2017, 2, 26): 'Söndag', datetime.date(2017, 3, 5): 'Söndag', datetime.date(2017, 3, 12): 'Söndag', datetime.date(2017, 3, 19): 'Söndag', datetime.date(2017, 3, 26): 'Söndag', datetime.date(2017, 4, 2): 'Söndag', datetime.date(2017, 4, 9): 'Söndag', datetime.date(2017, 4, 16): 'Påskdagen, Söndag', datetime.date(2017, 4, 23): 'Söndag', datetime.date(2017, 4, 30): 'Söndag', datetime.date(2017, 5, 7): 'Söndag', datetime.date(2017, 5, 14): 'Söndag', datetime.date(2017, 5, 21): 'Söndag', datetime.date(2017, 5, 28): 'Söndag', datetime.date(2017, 6, 4): 'Pingstdagen, Söndag', datetime.date(2017, 6, 11): 'Söndag', datetime.date(2017, 6, 18): 'Söndag', datetime.date(2017, 6, 25): 'Söndag', datetime.date(2017, 7, 2): 'Söndag', datetime.date(2017, 7, 9): 'Söndag', datetime.date(2017, 7, 16): 'Söndag', datetime.date(2017, 7, 23): 'Söndag', datetime.date(2017, 7, 30): 'Söndag', datetime.date(2017, 8, 6): 'Söndag', datetime.date(2017, 8, 13): 'Söndag', datetime.date(2017, 8, 20): 'Söndag', datetime.date(2017, 8, 27): 'Söndag', datetime.date(2017, 9, 3): 'Söndag', datetime.date(2017, 9, 10): 'Söndag', datetime.date(2017, 9, 17): 'Söndag', datetime.date(2017, 9, 24): 'Söndag', datetime.date(2017, 10, 1): 'Söndag', datetime.date(2017, 10, 8): 'Söndag', datetime.date(2017, 10, 15): 'Söndag', datetime.date(2017, 10, 22): 'Söndag', datetime.date(2017, 10, 29): 'Söndag', datetime.date(2017, 11, 5): 'Söndag', datetime.date(2017, 11, 12): 'Söndag', datetime.date(2017, 11, 19): 'Söndag', datetime.date(2017, 11, 26): 'Söndag', datetime.date(2017, 12, 3): 'Söndag', datetime.date(2017, 12, 10): 'Söndag', datetime.date(2017, 12, 17): 'Söndag', datetime.date(2017, 12, 24): 'Julafton, Söndag', datetime.date(2017, 12, 31): 'Nyårsafton, Söndag', datetime.date(2017, 1, 6): 'Trettondedag jul', datetime.date(2017, 5, 1): 'Första maj', datetime.date(2017, 6, 6): 'Sveriges nationaldag', datetime.date(2017, 12, 25): 'Juldagen', datetime.date(2017, 12, 26): 'Annandag jul', datetime.date(2017, 4, 14): 'Långfredagen', datetime.date(2017, 4, 17): 'Annandag påsk', datetime.date(2017, 5, 25): 'Kristi himmelsfärdsdag', datetime.date(2017, 6, 23): 'Midsommarafton', datetime.date(2017, 6, 24): 'Midsommardagen', datetime.date(2017, 11, 4): 'Alla helgons dag', datetime.date(2018, 1, 7): 'Söndag', datetime.date(2018, 1, 14): 'Söndag', datetime.date(2018, 1, 21): 'Söndag', datetime.date(2018, 1, 28): 'Söndag', datetime.date(2018, 2, 4): 'Söndag', datetime.date(2018, 2, 11): 'Söndag', datetime.date(2018, 2, 18): 'Söndag', datetime.date(2018, 2, 25): 'Söndag', datetime.date(2018, 3, 4): 'Söndag', datetime.date(2018, 3, 11): 'Söndag', datetime.date(2018, 3, 18): 'Söndag', datetime.date(2018, 3, 25): 'Söndag', datetime.date(2018, 4, 1): 'Påskdagen, Söndag', datetime.date(2018, 4, 8): 'Söndag', datetime.date(2018, 4, 15): 'Söndag', datetime.date(2018, 4, 22): 'Söndag', datetime.date(2018, 4, 29): 'Söndag', datetime.date(2018, 5, 6): 'Söndag', datetime.date(2018, 5, 13): 'Söndag', datetime.date(2018, 5, 20): 'Pingstdagen, Söndag', datetime.date(2018, 5, 27): 'Söndag', datetime.date(2018, 6, 3): 'Söndag', datetime.date(2018, 6, 10): 'Söndag', datetime.date(2018, 6, 17): 'Söndag', datetime.date(2018, 6, 24): 'Söndag', datetime.date(2018, 7, 1): 'Söndag', datetime.date(2018, 7, 8): 'Söndag', datetime.date(2018, 7, 15): 'Söndag', datetime.date(2018, 7, 22): 'Söndag', datetime.date(2018, 7, 29): 'Söndag', datetime.date(2018, 8, 5): 'Söndag', datetime.date(2018, 8, 12): 'Söndag', datetime.date(2018, 8, 19): 'Söndag', datetime.date(2018, 8, 26): 'Söndag', datetime.date(2018, 9, 2): 'Söndag', datetime.date(2018, 9, 9): 'Söndag', datetime.date(2018, 9, 16): 'Söndag', datetime.date(2018, 9, 23): 'Söndag', datetime.date(2018, 9, 30): 'Söndag', datetime.date(2018, 10, 7): 'Söndag', datetime.date(2018, 10, 14): 'Söndag', datetime.date(2018, 10, 21): 'Söndag', datetime.date(2018, 10, 28): 'Söndag', datetime.date(2018, 11, 4): 'Söndag', datetime.date(2018, 11, 11): 'Söndag', datetime.date(2018, 11, 18): 'Söndag', datetime.date(2018, 11, 25): 'Söndag', datetime.date(2018, 12, 2): 'Söndag', datetime.date(2018, 12, 9): 'Söndag', datetime.date(2018, 12, 16): 'Söndag', datetime.date(2018, 12, 23): 'Söndag', datetime.date(2018, 12, 30): 'Söndag', datetime.date(2018, 1, 1): 'Nyårsdagen', datetime.date(2018, 1, 6): 'Trettondedag jul', datetime.date(2018, 5, 1): 'Första maj', datetime.date(2018, 6, 6): 'Sveriges nationaldag', datetime.date(2018, 12, 24): 'Julafton', datetime.date(2018, 12, 25): 'Juldagen', datetime.date(2018, 12, 26): 'Annandag jul', datetime.date(2018, 12, 31): 'Nyårsafton', datetime.date(2018, 3, 30): 'Långfredagen', datetime.date(2018, 4, 2): 'Annandag påsk', datetime.date(2018, 5, 10): 'Kristi himmelsfärdsdag', datetime.date(2018, 6, 22): 'Midsommarafton', datetime.date(2018, 6, 23): 'Midsommardagen', datetime.date(2018, 11, 3): 'Alla helgons dag', datetime.date(2019, 1, 6): 'Trettondedag jul, Söndag', datetime.date(2019, 1, 13): 'Söndag', datetime.date(2019, 1, 20): 'Söndag', datetime.date(2019, 1, 27): 'Söndag', datetime.date(2019, 2, 3): 'Söndag', datetime.date(2019, 2, 10): 'Söndag', datetime.date(2019, 2, 17): 'Söndag', datetime.date(2019, 2, 24): 'Söndag', datetime.date(2019, 3, 3): 'Söndag', datetime.date(2019, 3, 10): 'Söndag', datetime.date(2019, 3, 17): 'Söndag', datetime.date(2019, 3, 24): 'Söndag', datetime.date(2019, 3, 31): 'Söndag', datetime.date(2019, 4, 7): 'Söndag', datetime.date(2019, 4, 14): 'Söndag', datetime.date(2019, 4, 21): 'Påskdagen, Söndag', datetime.date(2019, 4, 28): 'Söndag', datetime.date(2019, 5, 5): 'Söndag', datetime.date(2019, 5, 12): 'Söndag', datetime.date(2019, 5, 19): 'Söndag', datetime.date(2019, 5, 26): 'Söndag', datetime.date(2019, 6, 2): 'Söndag', datetime.date(2019, 6, 9): 'Pingstdagen, Söndag', datetime.date(2019, 6, 16): 'Söndag', datetime.date(2019, 6, 23): 'Söndag', datetime.date(2019, 6, 30): 'Söndag', datetime.date(2019, 7, 7): 'Söndag', datetime.date(2019, 7, 14): 'Söndag', datetime.date(2019, 7, 21): 'Söndag', datetime.date(2019, 7, 28): 'Söndag', datetime.date(2019, 8, 4): 'Söndag', datetime.date(2019, 8, 11): 'Söndag', datetime.date(2019, 8, 18): 'Söndag', datetime.date(2019, 8, 25): 'Söndag', datetime.date(2019, 9, 1): 'Söndag', datetime.date(2019, 9, 8): 'Söndag', datetime.date(2019, 9, 15): 'Söndag', datetime.date(2019, 9, 22): 'Söndag', datetime.date(2019, 9, 29): 'Söndag', datetime.date(2019, 10, 6): 'Söndag', datetime.date(2019, 10, 13): 'Söndag', datetime.date(2019, 10, 20): 'Söndag', datetime.date(2019, 10, 27): 'Söndag', datetime.date(2019, 11, 3): 'Söndag', datetime.date(2019, 11, 10): 'Söndag', datetime.date(2019, 11, 17): 'Söndag', datetime.date(2019, 11, 24): 'Söndag', datetime.date(2019, 12, 1): 'Söndag', datetime.date(2019, 12, 8): 'Söndag', datetime.date(2019, 12, 15): 'Söndag', datetime.date(2019, 12, 22): 'Söndag', datetime.date(2019, 12, 29): 'Söndag', datetime.date(2019, 1, 1): 'Nyårsdagen', datetime.date(2019, 5, 1): 'Första maj', datetime.date(2019, 6, 6): 'Sveriges nationaldag', datetime.date(2019, 12, 24): 'Julafton', datetime.date(2019, 12, 25): 'Juldagen', datetime.date(2019, 12, 26): 'Annandag jul', datetime.date(2019, 12, 31): 'Nyårsafton', datetime.date(2019, 4, 19): 'Långfredagen', datetime.date(2019, 4, 22): 'Annandag påsk', datetime.date(2019, 5, 30): 'Kristi himmelsfärdsdag', datetime.date(2019, 6, 21): 'Midsommarafton', datetime.date(2019, 6, 22): 'Midsommardagen', datetime.date(2019, 11, 2): 'Alla helgons dag', datetime.date(2015, 1, 4): 'Söndag', datetime.date(2015, 1, 11): 'Söndag', datetime.date(2015, 1, 18): 'Söndag', datetime.date(2015, 1, 25): 'Söndag', datetime.date(2015, 2, 1): 'Söndag', datetime.date(2015, 2, 8): 'Söndag', datetime.date(2015, 2, 15): 'Söndag', datetime.date(2015, 2, 22): 'Söndag', datetime.date(2015, 3, 1): 'Söndag', datetime.date(2015, 3, 8): 'Söndag', datetime.date(2015, 3, 15): 'Söndag', datetime.date(2015, 3, 22): 'Söndag', datetime.date(2015, 3, 29): 'Söndag', datetime.date(2015, 4, 5): 'Påskdagen, Söndag', datetime.date(2015, 4, 12): 'Söndag', datetime.date(2015, 4, 19): 'Söndag', datetime.date(2015, 4, 26): 'Söndag', datetime.date(2015, 5, 3): 'Söndag', datetime.date(2015, 5, 10): 'Söndag', datetime.date(2015, 5, 17): 'Söndag', datetime.date(2015, 5, 24): 'Pingstdagen, Söndag', datetime.date(2015, 5, 31): 'Söndag', datetime.date(2015, 6, 7): 'Söndag', datetime.date(2015, 6, 14): 'Söndag', datetime.date(2015, 6, 21): 'Söndag', datetime.date(2015, 6, 28): 'Söndag', datetime.date(2015, 7, 5): 'Söndag', datetime.date(2015, 7, 12): 'Söndag', datetime.date(2015, 7, 19): 'Söndag', datetime.date(2015, 7, 26): 'Söndag', datetime.date(2015, 8, 2): 'Söndag', datetime.date(2015, 8, 9): 'Söndag', datetime.date(2015, 8, 16): 'Söndag', datetime.date(2015, 8, 23): 'Söndag', datetime.date(2015, 8, 30): 'Söndag', datetime.date(2015, 9, 6): 'Söndag', datetime.date(2015, 9, 13): 'Söndag', datetime.date(2015, 9, 20): 'Söndag', datetime.date(2015, 9, 27): 'Söndag', datetime.date(2015, 10, 4): 'Söndag', datetime.date(2015, 10, 11): 'Söndag', datetime.date(2015, 10, 18): 'Söndag', datetime.date(2015, 10, 25): 'Söndag', datetime.date(2015, 11, 1): 'Söndag', datetime.date(2015, 11, 8): 'Söndag', datetime.date(2015, 11, 15): 'Söndag', datetime.date(2015, 11, 22): 'Söndag', datetime.date(2015, 11, 29): 'Söndag', datetime.date(2015, 12, 6): 'Söndag', datetime.date(2015, 12, 13): 'Söndag', datetime.date(2015, 12, 20): 'Söndag', datetime.date(2015, 12, 27): 'Söndag', datetime.date(2015, 1, 1): 'Nyårsdagen', datetime.date(2015, 1, 6): 'Trettondedag jul', datetime.date(2015, 5, 1): 'Första maj', datetime.date(2015, 6, 6): 'Sveriges nationaldag', datetime.date(2015, 12, 24): 'Julafton', datetime.date(2015, 12, 25): 'Juldagen', datetime.date(2015, 12, 26): 'Annandag jul', datetime.date(2015, 12, 31): 'Nyårsafton', datetime.date(2015, 4, 3): 'Långfredagen', datetime.date(2015, 4, 6): 'Annandag påsk', datetime.date(2015, 5, 14): 'Kristi himmelsfärdsdag', datetime.date(2015, 6, 19): 'Midsommarafton', datetime.date(2015, 6, 20): 'Midsommardagen', datetime.date(2015, 10, 31): 'Alla helgons dag'}

In [24]:
data.loc[data['country'] == 'Sweden', 'holiday_name'] = data[data['country'] == 'Sweden']['date'].map(holiday_SE)

data

,row_id,date,country,store,product,num_sold,holiday_name
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329.0,Uudenvuodenpäivä
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520.0,Uudenvuodenpäivä
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146.0,Uudenvuodenpäivä
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572.0,Uudenvuodenpäivä
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911.0,Uudenvuodenpäivä
...,...,...,...,...,...,...,...
32863,32863,2019-12-31,Sweden,KaggleMart,Kaggle Hat,NaN,Nyårsafton
32864,32864,2019-12-31,Sweden,KaggleMart,Kaggle Sticker,NaN,Nyårsafton
32865,32865,2019-12-31,Sweden,KaggleRama,Kaggle Mug,NaN,Nyårsafton
32866,32866,2019-12-31,Sweden,KaggleRama,Kaggle Hat,NaN,Nyårsafton
32867,32867,2019-12-31,Sweden,KaggleRama,Kaggle Sticker,NaN,Nyårsafton

In [25]:
data['is_holiday'] = np.where(data['holiday_name'].notnull(), 1, 0)
data['is_holiday'].value_counts()

0    30108
1     2760
Name: is_holiday, dtype: int64

In [26]:
gdp_df = pd.read_csv('../input/gdp-20152019-finland-norway-and-sweden/GDP_data_2015_to_2019_Finland_Norway_Sweden.csv',
                    index_col='year')

gdp_exponent = 1.2121103201489674 # see https://www.kaggle.com/ambrosm/tpsjan22-03-linear-model for an explanation

def get_gdp(row):
    """Return the GDP based on row.country and row.date.year"""
    country = 'GDP_' + row.country
    return gdp_df.loc[row.date.year, country] ** gdp_exponent

temp = pd.DataFrame(data.apply(get_gdp, axis=1))

In [27]:
data['GDP'] = temp
temp

                 0
0       746.001839
1       746.001839
2       746.001839
3       746.001839
4       746.001839
...            ...
32863  2022.844961
32864  2022.844961
32865  2022.844961
32866  2022.844961
32867  2022.844961

[32868 rows x 1 columns]

In [28]:
data

,row_id,date,country,store,product,num_sold,holiday_name,is_holiday,GDP
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329.0,Uudenvuodenpäivä,1,746.001839
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520.0,Uudenvuodenpäivä,1,746.001839
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146.0,Uudenvuodenpäivä,1,746.001839
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572.0,Uudenvuodenpäivä,1,746.001839
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911.0,Uudenvuodenpäivä,1,746.001839
...,...,...,...,...,...,...,...,...,...
32863,32863,2019-12-31,Sweden,KaggleMart,Kaggle Hat,NaN,Nyårsafton,1,2022.844961
32864,32864,2019-12-31,Sweden,KaggleMart,Kaggle Sticker,NaN,Nyårsafton,1,2022.844961
32865,32865,2019-12-31,Sweden,KaggleRama,Kaggle Mug,NaN,Nyårsafton,1,2022.844961
32866,32866,2019-12-31,Sweden,KaggleRama,Kaggle Hat,NaN,Nyårsafton,1,2022.844961
32867,32867,2019-12-31,Sweden,KaggleRama,Kaggle Sticker,NaN,Nyårsafton,1,2022.844961

In [29]:
import dateutil.easter as easter
def engineer(df):
    """Return a new dataframe with the engineered features"""
    # Easter
    easter_date = df.date.apply(lambda date: pd.Timestamp(easter.easter(date.year)))
    df['days_from_easter'] = (df.date - easter_date).dt.days.clip(-5, 65)
    
    # Last Sunday of May (Mother's Day)
    sun_may_date = df.date.dt.year.map({2015: pd.Timestamp(('2015-5-31')),
                                         2016: pd.Timestamp(('2016-5-29')),
                                         2017: pd.Timestamp(('2017-5-28')),
                                         2018: pd.Timestamp(('2018-5-27')),
                                         2019: pd.Timestamp(('2019-5-26'))})
    #new_df['days_from_sun_may'] = (df.date - sun_may_date).dt.days.clip(-1, 9)
    
    # Last Wednesday of June
    wed_june_date = df.date.dt.year.map({2015: pd.Timestamp(('2015-06-24')),
                                         2016: pd.Timestamp(('2016-06-29')),
                                         2017: pd.Timestamp(('2017-06-28')),
                                         2018: pd.Timestamp(('2018-06-27')),
                                         2019: pd.Timestamp(('2019-06-26'))})
    df['days_from_wed_jun'] = (df.date - wed_june_date).dt.days.clip(-5, 5)
    
    # First Sunday of November (second Sunday is Father's Day)
    sun_nov_date = df.date.dt.year.map({2015: pd.Timestamp(('2015-11-1')),
                                         2016: pd.Timestamp(('2016-11-6')),
                                         2017: pd.Timestamp(('2017-11-5')),
                                         2018: pd.Timestamp(('2018-11-4')),
                                         2019: pd.Timestamp(('2019-11-3'))})
    df['days_from_sun_nov'] = (df.date - sun_nov_date).dt.days.clip(-1, 9)
    
    return df

In [30]:
data = engineer(data)
data

,row_id,date,country,store,product,num_sold,holiday_name,is_holiday,GDP,days_from_easter,days_from_wed_jun,days_from_sun_nov
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329.0,Uudenvuodenpäivä,1,746.001839,-5,-5,-1
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520.0,Uudenvuodenpäivä,1,746.001839,-5,-5,-1
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146.0,Uudenvuodenpäivä,1,746.001839,-5,-5,-1
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572.0,Uudenvuodenpäivä,1,746.001839,-5,-5,-1
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911.0,Uudenvuodenpäivä,1,746.001839,-5,-5,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
32863,32863,2019-12-31,Sweden,KaggleMart,Kaggle Hat,NaN,Nyårsafton,1,2022.844961,65,5,9
32864,32864,2019-12-31,Sweden,KaggleMart,Kaggle Sticker,NaN,Nyårsafton,1,2022.844961,65,5,9
32865,32865,2019-12-31,Sweden,KaggleRama,Kaggle Mug,NaN,Nyårsafton,1,2022.844961,65,5,9
32866,32866,2019-12-31,Sweden,KaggleRama,Kaggle Hat,NaN,Nyårsafton,1,2022.844961,65,5,9
32867,32867,2019-12-31,Sweden,KaggleRama,Kaggle Sticker,NaN,Nyårsafton,1,2022.844961,65,5,9

## Convert the Categorical variables to encodering

In [31]:
from sklearn import preprocessing

# （2）Convert the Categorical variables to encodering
cat = ['country', 'store', 'product', 'holiday_name']
for feature in cat:
    encoder = preprocessing.LabelEncoder()
    data[feature] = data[feature].astype('str') 
    data[feature] = encoder.fit_transform(data[feature])
data

,row_id,date,country,store,product,num_sold,holiday_name,is_holiday,GDP,days_from_easter,days_from_wed_jun,days_from_sun_nov
0,0,2015-01-01,0,0,1,329.0,48,1,746.001839,-5,-5,-1
1,1,2015-01-01,0,0,0,520.0,48,1,746.001839,-5,-5,-1
2,2,2015-01-01,0,0,2,146.0,48,1,746.001839,-5,-5,-1
3,3,2015-01-01,0,1,1,572.0,48,1,746.001839,-5,-5,-1
4,4,2015-01-01,0,1,0,911.0,48,1,746.001839,-5,-5,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
32863,32863,2019-12-31,2,0,0,NaN,33,1,2022.844961,65,5,9
32864,32864,2019-12-31,2,0,2,NaN,33,1,2022.844961,65,5,9
32865,32865,2019-12-31,2,1,1,NaN,33,1,2022.844961,65,5,9
32866,32866,2019-12-31,2,1,0,NaN,33,1,2022.844961,65,5,9
32867,32867,2019-12-31,2,1,2,NaN,33,1,2022.844961,65,5,9

## Time features

In [32]:
data['year'] = data['date'].dt.year 
data['quarter'] = data['date'].dt.quarter
data['month'] = data['date'].dt.month  
data['week'] = data['date'].dt.isocalendar().week
data['day'] = data['date'].dt.day  
data['weekday'] = data['date'].dt.weekday
data['dayofweek'] = data['date'].dt.dayofweek  
data['dayofyear'] = data['date'].dt.dayofyear  
data['weekofyear'] = data['date'].dt.isocalendar().week
data['dayofmonth'] = data['date'].dt.days_in_month  
data['is_weekend'] = np.where((data['weekday'] == 5) | (data['weekday'] == 6), 1, 0)
data['is_Firday'] = np.where((data['weekday'] == 4), 1, 0)
data

,row_id,date,country,store,product,num_sold,holiday_name,is_holiday,GDP,days_from_easter,...,month,week,day,weekday,dayofweek,dayofyear,weekofyear,dayofmonth,is_weekend,is_Firday
0,0,2015-01-01,0,0,1,329.0,48,1,746.001839,-5,...,1,1,1,3,3,1,1,31,0,0
1,1,2015-01-01,0,0,0,520.0,48,1,746.001839,-5,...,1,1,1,3,3,1,1,31,0,0
2,2,2015-01-01,0,0,2,146.0,48,1,746.001839,-5,...,1,1,1,3,3,1,1,31,0,0
3,3,2015-01-01,0,1,1,572.0,48,1,746.001839,-5,...,1,1,1,3,3,1,1,31,0,0
4,4,2015-01-01,0,1,0,911.0,48,1,746.001839,-5,...,1,1,1,3,3,1,1,31,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32863,32863,2019-12-31,2,0,0,NaN,33,1,2022.844961,65,...,12,1,31,1,1,365,1,31,0,0
32864,32864,2019-12-31,2,0,2,NaN,33,1,2022.844961,65,...,12,1,31,1,1,365,1,31,0,0
32865,32865,2019-12-31,2,1,1,NaN,33,1,2022.844961,65,...,12,1,31,1,1,365,1,31,0,0
32866,32866,2019-12-31,2,1,0,NaN,33,1,2022.844961,65,...,12,1,31,1,1,365,1,31,0,0
32867,32867,2019-12-31,2,1,2,NaN,33,1,2022.844961,65,...,12,1,31,1,1,365,1,31,0,0

## Show features

In [33]:
labels = list(data.columns.values)
labels

['row_id',
 'date',
 'country',
 'store',
 'product',
 'num_sold',
 'holiday_name',
 'is_holiday',
 'GDP',
 'days_from_easter',
 'days_from_wed_jun',
 'days_from_sun_nov',
 'year',
 'quarter',
 'month',
 'week',
 'day',
 'weekday',
 'dayofweek',
 'dayofyear',
 'weekofyear',
 'dayofmonth',
 'is_weekend',
 'is_Firday']